<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>
<div id="app">
  <p>{{ message }}</p>
  <input v-model="message">
</div>
<div id="list">
User list
  <ul>
    <li v-for="user in users">
      {{ user.name }}
      {{ user.old }}
    </li>
  </ul>
</div>